.container {
  width: 100%;
  height: 100%;
  min-height: 55.5vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.filterButton{
  margin-right: auto;
  padding: 2rem 0;
}

.contents {
  width: 75%;
  height: 100%;
}

.folderContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6%;
}
