.wrapper {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  // background-color: var(--soft-sky-gray);
  padding-left: 0.6rem;

  .level {
    flex: 1;
  }

  .questionNumber {
    flex: 1;
  }

  .title {
    flex: 4;
  }

  .acceptedUserCount {
    flex: 1;
  }

  .averageTries {
    flex: 1;
  }
}

.bottomHr {
  border: none;
  height: 1px;
  background-color: var(--soft-gray);
  margin: 0;
}
