.wrapper {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 60px;
  // line-height: 60px;
  margin: 0 auto;
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.navBox {
  margin: 0 auto;
  max-width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSec {
  width: 18vw;
  display: flex;
  justify-content: space-between;
  line-height: 1px;
}

.menuSec {
  width: 33vw;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: var(--black);
  }
}

.buttonSec {
  width: 10vw;
  height: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 1px;

  .notiCont {
    position: relative;
    .redDot {
      width: 6px; /* 지름 설정 */
      height: 6px; /* 지름 설정 */
      background-color: var(--red); /* 배경색 설정 */
      border-radius: 50%; /* 원 모양으로 만듦 */
      position: absolute;
      top: -0.25rem;
      left: 1.1rem;
    }
  }
  

  .icon {
    cursor: pointer;
  }

}

.blank {
  width: 10vw;
}

.profileSec {
  width: 10vw;
  height: 30px;
  display: flex;
  justify-content: space-around;
  line-height: 1px;
}

.loginSec {
  display: flex;
  justify-content: center;
  width: 10vw;
  a {
    text-decoration: none;
    color: var(--black);
  }
}
