.wrapper {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 60vw) {
  .menuSec {
    /* 메뉴 섹션을 위한 변경 사항 */
    display: none; /* 혹은 'display: block;' 과 같이 다른 방식으로 표시 */
  }
  /* 추가적으로, 햄버거 메뉴를 표시하는 스타일을 추가할 수 있습니다. */
}

.navBox {
  margin: 0 auto;
  max-width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSec {
  width: 18vw;
  display: flex;
  justify-content: space-between;
  line-height: 1px;
}

.menuSec {
  width: 33vw;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: var(--black);
  }
}

.buttonSec {
  width: 10vw;
  height: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 1px;
}

.blank {
  width: 10vw;
}

.profileSec {
  width: 10vw;
  height: 30px;
  display: flex;
  justify-content: space-around;
  line-height: 1px;
}

.loginSec {
  display: flex;
  justify-content: center;
  width: 10vw;
  a {
    text-decoration: none;
    color: var(--black);
  }
}
