.container{
    position: absolute;
    margin: 60px 12.5%;
    width: calc(100% - 25%);

    .element{
        min-height: 30rem;
        // border: 3px solid blue;
        // border-style: dashed;
        justify-content: space-between;
    }

    .compareButtons{
        width: 100%;
        display: flex;
      
        .compareButton{
            border: 1px solid black;
            width: 50%;
        }
    }

    
}

