.container{
    position: absolute;
    margin-top: 60px;
    width: 100%;

    .header {
        width: 100%;
        padding: 2.4rem 12.5%;
        background: linear-gradient(45deg, var(--color-start), var(--color-end));
        p {
          margin: 0.1rem 0;
        }
        .headerSentence {
          display: flex;
          width: 100%;
          .headerLight {
            font-size: 1.8rem;
            font-weight: 300;
            color: var(--white);
          }
          .headerBold {
            margin-left: 0.4rem;
            font-size: 1.8rem;
            font-weight: 700;
            color: var(--white);
          }
          .contentLight {
            padding-top: 0.4rem;
            margin-left: 0.4rem;
            font-size: 1.2rem;
            font-weight: 300;
            color: var(--white);
          }
        }
      }

    .element{
        min-height: 30rem;
        margin: 0 12.5%;
        border: 3px solid blue;
        border-style: dashed;
        justify-content: space-between;
    }

    .compareButtons{
        width: 100%;
        display: flex;
      
        .compareButton{
            border: 1px solid black;
            width: 50%;
        }
    }

    
}

