.noteWrapper {
  margin: 0 auto;
  // margin-top: 3rem;
  width: 100%;
}

.frame {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 75vw;
  padding-top: 100px;
}

.titleSection {
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;

  span {
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
  }

  .boj {
    font-weight: 400;
  }

  .probTitle {
    font-weight: 600;
  }
}

.tagBox {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
  padding: 0.1rem 0.6rem 0.1rem;
  border-radius: 2rem;
  background: var(--soft-gray);
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Pretendard';
}

.tries {
  padding-top: 0.6rem;
  color: var(--gray);

  span {
    margin-right: 0.5rem;
  }
}

.noteTitleSection {
  // padding-top: 0.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.writerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // justify-content: flex-end;
  // justify-content: space-between;
}

.writerSection {
  display: flex;
  font-size: 1rem;
  margin-right: 0.8rem;

  .noteWriter {
    color: var(--black);
    font-weight: 700;
  }

  .noteCreatedDay {
    color: var(--black);
    font-weight: 300;
  }
}

.noteContent {
  margin-top: 4rem;
  padding-bottom: 3rem;
  font-size: 1.125rem;
  color: var(--black);
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  button {
    width: 2rem;
  }
}

.likeButtonSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1.4px solid var(--soft-gray);
  border-radius: 1rem;
  padding: 0.5rem;
  height: 2.3rem;
  width: 7rem;

  .likeButton {
    display: flex;
    align-items: center;
    margin-right: 0.6rem;

    span {
      padding-left: 0.5rem;
      font-family: 'Pretendard';
      color: var(--black);
    }
  }
}

// 리뷰
.reviewsContainer {
  margin-top: 4rem;
  width: 100%;
  border-radius: 1rem;

  .reviewsConTainerTitle {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 1px solid #e9e9e9;

    span:last-child {
      color: var(--blue);
    }
  }

  hr {
    height: 0.5px;
    background: var(--gray);
    border: none;
  }
}

.reviewInput {
  width: 100%;
  padding: 0.5rem;
  height: 5rem;
  margin-bottom: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(215, 215, 215);
}

.reviewsBottom {
  padding-top: 2rem;

  .reviewProfileSection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .reviewProfileImg {
      width: 3.5rem;
      height: 10px;
    }

    img {
      width: 42px;
      height: 42px;
      border-radius: 100%;
    }
  }
}

.registNote {
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
}

.upperHr {
  margin-top: 0.6rem;
  height: 1px;
  background: var(--soft-gray);
  border: none;
}

.reviewContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;

  .reviewProfileImg {
    img {
      width: 42px;
      height: 42px;
      border-radius: 100%;
    }
  }

  .reviewContentSection {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-bottom: 1rem;
    width: 100%;

    .reviewNickname {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
}

.reviewBtn {
  font-family: 'Pretendard';
  color: rgb(163, 163, 163);
}

.buttonSection {
  button {
    margin: 0;
    padding: 0;
  }

  button:last-child {
    margin-left: 0.8rem;
  }
}

.reviewHr {
  background: var(--gray);
}
