.box {
    height: 9rem;
    min-width: 9rem;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translate(0%, 0%);
    background-color: var(--white);
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s;

  
    .type {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--black);
      font-size: 1.4rem;
      font-weight: 600;
    }
  
    .water {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      transform: translate(0, 100%);
      // transition: background-color 0.5s ease;
      background-color: var(--blue);
      transition: all 0.3s;
  
      &_wave {
        width: 200%;
        position: absolute;
        bottom: 100%;
  
        &_back {
          right: 0;
          fill: #caefff;
          // transition: fill, animation 0.5s ease;
          animation: wave-back 1.6s infinite linear;
          transition: all 0.3s;
          
        }
  
        &_front {
          left: 0;
          // transition: fill, animation 0.5s ease;
          fill: var(--blue);
          margin-bottom: -1px;
          animation: wave-front 1s infinite linear;
          transition: all 0.3s;

        }
      }
    }
  }
  
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }

.box:hover {
  transform: scale(1.1);
  .water {
    background-color: var(--navy);
    &_wave {
      &_back {
        fill: #73bad9;
        animation: wave-back 0.8s infinite linear;
      }

      &_front {
        fill: var(--navy);
        animation: wave-front 0.5s infinite linear;
      }
    }
  }
}

