.test {
  padding-top: 10rem;
}

.large-font .cm-line {
  font-size: 24px; /* 가장 큰 폰트 크기 */
}

.medium-font .cm-line {
  font-size: 20px; /* 중간 폰트 크기 */
}

.small-font .cm-line {
  font-size: 16px; /* 가장 작은 폰트 크기 */
}
