body {
    width: 300px;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

a {
    text-decoration-line: none;
}

img {
    width: 200px;
    margin: 10px;
}

#caption {
    font-family: 'Norwester', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
}
