.submissionButton {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}

.wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    line-height: 50px;
    height: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
  }

  .number {
    flex: 1.3;
    // background: skyblue;
  }

  .result {
    color: var(--blue);
    flex: 1.2;
    // background: greenyellow;
  }

  .lang {
    flex: 1;
    // background: yellow;
  }

  .codeLength {
    flex: 1;
    // background: antiquewhite;
  }

  .submitTime {
    flex: 1;
    // background: dodgerblue;
  }

  a {
    text-decoration: none;
    color: var(--black);
  }
}

.bottomHr {
  border: none;
  height: 1px;
  background-color: var(--soft-gray);
  margin: 0;
}
