.submissionButton {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}

.wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    line-height: 50px;
    height: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
  }

  .number {
    flex: 1.3;
    // background: skyblue;
  }

  .result {
    color: var(--blue);
    flex: 1.2;
    // background: greenyellow;
  }

  .lang {
    flex: 1;
    // background: yellow;
  }

  .codeLength {
    flex: 1;
    // background: antiquewhite;
  }

  .submitTime {
    flex: 1;
    // background: dodgerblue;
  }

  a {
    text-decoration: none;
    color: var(--black);
  }
}

.bottomHr {
  border: none;
  height: 1px;
  background-color: var(--soft-gray);
  margin: 0;
}

.codeSection {
  width: 100%;
  height: 69vh;
  padding: 1rem;
  font-family: 'Pretendard';
  overflow-y: auto;
  overflow-x: auto;
  font-size: 0.9rem;
  background: var(--soft-gray);
  border-radius: 1rem;
}

.codeSection::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  height: 5px;
}

.codeSection::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}

.codeSection::-webkit-scrollbar-thumb {
  background: var(--gray); /* 스크롤바 자체의 배경색 */
  border-radius: 1rem;
}

.codeSection::-webkit-scrollbar-thumb:hover {
  background: #555; /* 스크롤바를 호버했을 때의 배경색 */
}

// .codeSection pre {
//   overflow-x: auto;
//   white-space: pre-wrap; /* 줄바꿈 처리 */
//   word-wrap: break-word; /* 단어 단위로 줄바꿈 처리 */
// }

// .codeSection code {
//   max-width: 100%; /* 코드 블록의 최대 너비를 부모 요소에 맞춤 */
// }
