.executeButton{
    display: inline;
    display: flex;
    justify-content: flex-end;
    color: var(--red);
    align-items: center;

    .alert{
        margin-right: 1rem;
    }
}

.resultBox{
    height: 20rem;
    border:0.25rem solid var(--soft-sky);
    border-radius: 1rem;
    display: flex;

    .result{
        width: 50%;
        justify-content: flex-start;
        padding: 0 1rem;

        

        .title{
            font-size:1.2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
     
    .result::before{
        content: "";
        position: absolute; 
        left: 50%;
        height: 17.5rem;
        border-right: 0.2rem solid var(--soft-sky);
        transform: translateX(-50%);
    }
   
}

