.executeButton{
    display: inline;
    display: flex;
    justify-content: flex-end;
    color: var(--red);
    align-items: center;

    .alert{
        margin-right: 1rem;
    }
}

.resultBox{
    height: 20rem;
    border:3px solid var(--soft-sky);
    border-radius: 1rem;
}

