.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-sky);
}

.loginContainer {
    width: 32%;
    min-width: 24rem;
    height: 80%;
    margin-top: 60px;
    border-radius: 1.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.contents {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 2rem;
}

.inputsCont {
    width: 100%;
    margin-top: 2rem;
}

.inputCont {
    width: 100%;
    display: flex;
}

.label {
    font-weight: 500;
    color: var(--medium-sky-gray);
}

.marginLabel{
    margin-top: 1rem;
    font-weight: 500;
    color: var(--medium-sky-gray);
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--medium-sky-gray);
    padding: 0;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.inputFailed {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--red);
    padding: 0;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

/* 기본적인 테두리 스타일 제거 */
.input:focus {
    border-bottom-color: var(--blue);
}

.input::placeholder {
    font-weight: 500;
    color: var(--medium-sky-gray); /* 플레이스홀더 텍스트의 글자색 지정 */
}

.validationSuccess {
    font-size: 0.85rem;
    color: var(--blue);
    margin-top: 0.4rem;
}

.validationFailed {
    font-size: 0.85rem;
    color: var(--red);
    margin-top: 0.4rem;
}

.invisible {
    font-size: 0.85rem;
    margin-top: 0.4rem;
    visibility: hidden;
}

.btnCont {
    width: 100%;
    margin-top: 0.4rem;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    a {
        text-decoration: none;
        color: var(--blue);
    }
}

.spinnerCont {
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.spinner {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }