.container {
    padding-top: 60px;
}

.header {
    width: 100%;
    padding: 2.4rem 12.5%;
    background: linear-gradient(45deg, var(--color-start), var(--color-end));
    p {
      margin: 0.1rem 0;
    }
    .headerSentence {
      display: flex;
      width: 100%;
      .headerLight {
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--white);
      }
      .headerBold {
        margin-left: 0.4rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--white);
      }
      .contentLight {
        padding-top: 0.4rem;
        margin-left: 0.4rem;
        font-size: 1rem;
        font-weight: 300;
        color: var(--white);
      }
    }
  }

.content {
    margin: 2rem 12.5%;

    .problemCont {
        display: flex;
        font-size: 1.2rem;
        font-weight: 300;
        gap: 0.6rem;
        
        .title{ 
            font-weight: 500;
        }
    }

    .divide {
        margin: 1rem 0;
        border: 0.5px solid var(--gray);
    }

    .notesCont {
        margin-top: 1rem;
        // display: flex;
        // flex-direction: column;
        .noteCont {
          margin-bottom: 0.3rem;
            background-color: #f8fafd;
            border-radius: 0.4rem;
        }
        .noteCont:hover {
            background-color: var(--soft-sky-gray);
            cursor: pointer;
        }
    }
}