// 버튼 기본 스타일
.button {
    padding: 0.25rem 0.75rem;
    border: 0.125rem solid;
    border-color: var(--blue);
    border-radius: 0.75rem;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: var(--blue);
    color: var(--white);
    
    // 돌아가기
    &.back{
        background-color: var(--white);
        color: var(--blue);
        border: 0.125rem solid;
        border-color: var(--blue);
    }

    &.back:hover{
        background-color: var(--blue);
        border-color: var(--blue);
        color: var(--white);
    }

    // 추천 검색어
    &.recommend{
        @extend .back;
        color: var(--black); 
        border-radius: 1.25rem;
        border: 0.1rem solid;
        border-color: var(--blue);
    }

    // 검색 필터
    &.search{
        border-top-left-radius: 0;
        background-color: #EAEFF6;
        border-color: #EAEFF6;
        color: var(--medium-sky-gray);

        &.active{
            border-top-left-radius: 0;
            border-color: var(--blue);
            background-color: var(--blue);
        }

        &:hover{
            background-color: #EAEFF6;  // 동일한 배경색을 유지
            border-color: #EAEFF6;      // 동일한 테두리 색을 유지
        }
    }

    &.searchactive{
        border-top-left-radius: 0;
        border-color: var(--blue);
        background-color: var(--blue);
    };
  }
  

  .button:hover{
    background-color: #3170d5;
    border-color: #3170d5;
  }

  .button:disabled{
    background-color: var(--gray);
    border-color: var(--gray);
  }