.bookmark{
    font-weight: 600;
    margin: 0 12.5%;
    font-size: 1.25rem;
    margin-top: 1.625rem;
    
    .filterButton{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 0.5rem;
    }

}