.container {
  margin-top: 1%;
  border-radius: 1rem;
  width: 100%;
  height: 80vh;
  right: 2rem;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 1rem;

  .answerCont {
    border-radius: 0.5rem;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 89%;
    background: var(--white);
    box-sizing: border-box;
    margin-bottom: 1rem;
    border: 1.6px solid var(--soft-gray);
    border-radius: 1rem;
    height: 5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.7rem;
  }
}

.spinnerCont {
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  animation: spin 1s linear infinite;
}

.gptInputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 여기에 CSSTransition에 필요한 스타일 추가
.chatEnter {
  opacity: 0.5;
  // transform: scale(0.98);
}

.chatEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms;
  // transform 300ms;
}

.chatExit {
  opacity: 1;
  // transform: scale(1);
}

.chatExitActive {
  opacity: 0.5;
  // transform: scale(0.98);
  transition: opacity 300ms;
  // transform 300ms;
}
