.heartBtn{
    background-image: url(../../../../public/images/heart.svg);
    border: none;
    color: transparent;
    width: 1.5rem ; /* 버튼의 너비 */
    height: 1.3rem; /* 버튼의 높이 */
    background-size: cover;
    margin-right: 0.5rem;
}

.heartBtn.active{
    background-image: url(../../../../public/images/redHeart.svg);
}