.frame {
    margin: 0 12.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4열 레이아웃
    justify-content: space-between; // 각 열 사이에 균일한 간격 유지
    gap: 1.6%; // 그리드 아이템 사이의 간격 추가

    .noResults{
        justify-content: center; // 가로 방향 가운데 정렬
        align-items: center; // 세로 방향 가운데 정렬
        font-size: 1.5rem;
        color: var(--black);
    }
}


/* 화면이 1024px 이하일 때 3열로 변경 */
@media (max-width: 1024px) {
    .frame {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 화면이 768px 이하일 때 1열로 변경 */
@media (max-width: 768px) {
    .frame {
        grid-template-columns: repeat(1, 1fr);
    }
}

.note {
    position: relative;
    width: 100%;
    height: 8rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--soft-sky-gray);
    padding: 1rem;
    overflow: hidden;
    display: flex; // Flexbox를 활용하여 내부 요소 정렬
    flex-direction: column; // 요소들을 세로로 정렬

    &:hover{
        cursor:pointer
    }

    &::after {
        content: ''; // 가상 요소에는 content 속성이 필요
        position: absolute;
        top: 0;
        right: 0;
        border-style: solid;
        border-width: 0 2.5rem 2.5rem 0; // 대각선의 크기 조정
        border-color: transparent var(--white) #D2DDEB transparent;
        border-bottom-left-radius: 0.5rem;
        // 대각선의 색 조정
    }

    .content{
        width: 100%;
        height: 100%;
        display: flex; // Flexbox 활성화
        flex-direction: column; // 세로 정렬
        

        .problem {
            flex: 1; // 비율 1
            color: #858585;
            font-size: 0.875rem;
            display: flex; // Flexbox 설정
            gap: 0.5rem;
        } 
        
        .note_title {
            flex: 2;
            font-size: 1rem;
            font-weight: 600;
            color: var(--black);
        } 
        .details {
            flex: 1;
            display: flex;
            font-weight: 600;
            gap: 5px;

            .countNickname{
                width: 100%;
                display: flex; 
                align-items: center;
                align-items: space-between;

                .heart{
                    box-sizing: border-box;
                    display: inline-flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            .nickname {
                @extend .problem;
                justify-content: right;            
            }
        }
    }

}


// 코드 비교 모달용 
.miniNote{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 12.5%;
    justify-content: space-between; // 각 열 사이에 균일한 간격 유지
    gap: 1.6%; // 그리드 아이템 사이의 간격 추가
    margin-top: 1rem;
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: auto;
}