.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-sky);
}

.loginContainer {
    width: 30%;
    min-width: 20rem;
    height: 80%;
    border-radius: 1.5rem;
    text-align: center;
    background-color: var(--white);
}

.contents {
    width: 62.5%;
    margin: auto;
}

.emailInput {
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.passwordInput {
width: 100%;
box-sizing: border-box;
}

.loginBtn {
    width: 100%;
    height: 2.4rem;
    border-radius: 0.75rem;
    background-color: var(--blue);
}