.wrapper {
  position: relative;
  display: inline-block;
  padding: 1rem;
  // max-width: 97%;
  // min-width: 1rem;
  width: auto;
  min-height: 3rem;
  background: var(--white);
  color: var(--black);
  font-size: 1.1rem;
  border: none;
  border-radius: 1rem;
  line-height: 1.75rem;
}

.wrapper::after {
  content: ''; /* 필수 속성 */
  position: absolute;
  left: -10px; /* 꼬리의 위치를 왼쪽으로 조정 */
  top: 14px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 13px 8px 0; /* 삼각형 모양 생성 */
  border-color: transparent var(--white) transparent transparent; /* 왼쪽 꼬리 */
}
