.wrapper {
  position: relative;
  display: inline-block;
  padding: 1rem;
  width: auto;
  max-width: 97%;
  min-width: 1rem;
  min-height: 3rem;
  background: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.wrapper::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 14px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 13px;
  border-color: transparent transparent transparent var(--blue);
}
