.container {
  padding-top: 60px;

  .header {
    width: 100%;
    padding: 2.4rem 12.5%;
    background: linear-gradient(45deg, var(--color-start), var(--color-end));
    p {
      margin: 0.1rem 0;
    }
    .headerSentence {
      display: flex;
      width: 100%;
      .headerLight {
        font-size: 1.8rem;
        font-weight: 300;
        color: var(--white);
      }
      .headerBold {
        margin-left: 0.4rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--white);
      }
      .contentLight {
        padding-top: 0.4rem;
        margin-left: 0.4rem;
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--white);
      }
    }
  }
  
  .content {
    width: 75%;
    margin: auto;

    .loadingCont {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
    }

    .firstCategoryCont {
      margin: 5rem 0;
    }

    .categoryCont {
      margin: 9rem 0;
      height: 100%;
      position: relative;

      .divide {
        position: absolute;
        width: 100vw;
        top: -4rem;
        left: -12.5vw;
        border: 0.5px solid var(--soft-gray);
      }
    }

    .categoryTitle {
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--blue);
      margin: -1rem 0 1rem 0;
    }

    .tagCont {
      margin: 2.5rem 0;
      display: flex;
      flex-direction: column;
      .tagTitleCont {
        display: flex;
        margin-bottom: 0.8rem;
        
        .tagTitle {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      .problem:hover {
        background-color: var(--soft-sky-gray);
      }
    }

  }
}

